{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h2>What book are you looking for?</h2>
  <form action="/search" method="GET">
    <div class="form-group">
      <input type="text", class="form-control" name="book" autofocus aria-describedy="bookHelp" placeholder="ISBN, Title or Author">
      <small id="bookHelp" class="form-text-muted">Example: 0375508325, Lean Startup or Malcolm Gladwell</small>
    </div>
    <button class="btn btn-primary" type="submit">Seach</button>
  </form>
  {% endblock %}
