{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}

  <h3>Create your account</h3>
  <form action="/register" method="post">
    <div class="form-group">
      <input autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="text" />
    </div>

    <div class="form-group">
      <input autocomplete="off" autofocus class="form-control" name="email" placeholder="email" type="text" />
    </div>

    <div class="form-group">
      <input class="form-control" name="password" placeholder="password" type="password" />
    </div>

    <div class="form-group">
      <input class="form-control" name="password2" placeholder="Confirm your password" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>

{% endblock %}
