{% extends "layout.html" %}

{% block title %}
    Search Books
{% endblock %}

{% block body %}
    <h1>What book are you looking for?</h1>

    <form action="{{ url_for('books') }}" method="post">

        <div class="form-group">
          <input type="text", class="form-control" name="book" autofocus aria-describedy="bookHelp" placeholder="ISBN, Title or Author">
          <small id="bookHelp" class="form-text-muted">Example: 0375508325, Lean Startup or Malcolm Gladwell</small>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>

    </form>


{% endblock %}
